body{
  width: 100%;
  margin: 0;
  padding: 0;
}
.App{
  padding: 0;
  background-size: cover;
}

.text-smaller{
  font-size: 0.8em;
}

.hero{
  height: 120vh;
  background-image: url('./img/fondo2.jpg');
  background-size: cover;
}
.hero-message{
  padding-top: 5em;
  height: 100%;
}
.text-consejo{
  font-size: 0.7em;
}

.modal-w{
  width: 75vh;
}