@font-face {
  font-family: Cereal;
  src: url("./Fonts/AirbnbCereal-Light.ttf");
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Cereal !important;
}
button {
  border: none;
}

/* Quita los controles a los imputs number */
input[type="number"] {
  -webkit-appearance: textfield !important;
  margin: 0;
  -moz-appearance: textfield !important;
}
.App {
  padding: 0;
  background-size: cover;
}
.card-publication {
  padding-top: 5em;
  height: 100%;
}
.navigation {
}
.icon {
  font-size: 2em;
  padding: 0.8em;
}
.logo {
  width: 45px;
  height: 45px;
}

.card-inicio {
  min-height: 18em;
  max-height: 19em;
  font-family: Cereal;
}
p {
  margin: 0;
  padding: 0;
}
.margin-for-nav {
  padding-top: 8em;
}
.text-smaller {
  font-size: 0.8em;
}
.text-rent {
  line-height: 1em;
  margin-top: 0;
  padding-top: 0;
}
.hero {
  height: 75vh;

  background-image: url("./img/fondo2.jpg");
  background-size: cover;
}
.hero-message {
  padding-top: 5em;
  height: 100%;
}
.text-consejo {
  font-size: 0.7em;
}

.modal-w {
  width: 75vh;
}

.isSlider {
  height: 110vh;
}

.img-preview {
  object-fit: contain;
  width: 15em;
  height: 15em;
  margin: auto;
}
.publicacionBazar-img {
  display: flex;
  width: 15em;
  margin: auto;
  justify-content: center;
}
.publicacionBazar-img > img {
  cursor: pointer;
  object-fit: contain;
  margin: auto;
}

/* CSS PARA LOS CARDS DEL PERFIL */
.img-avatar-profile {
  width: 10em;
  margin: auto;
}

.img-card-profile {
  width: 100%;
}

/* MAPAS */
.leaflet-container {
  width: 100%;
  height: 50vh;
  border-radius: 6px;
}

/* //ANIMACIONES */

@media (min-width: 750px) {
  .publicacionBazar-img {
    justify-content: center;
    overflow: hidden;
  }
  .publicacionBazar-img > img {
    cursor: pointer;

    border: solid white 2px;
  }
}

@keyframes waves {
  0% {
    background: rgb(149, 165, 166);
    background: linear-gradient(
      90deg,
      rgba(149, 165, 166, 1) 0%,
      rgba(149, 165, 166, 0.7848273098301821) 15%,
      rgba(149, 165, 166, 0.6755836123511905) 32%,
      rgba(149, 165, 166, 0.5187208672531513) 48%,
      rgba(149, 165, 166, 0.3114379540878851) 65%,
      rgba(149, 165, 166, 0.1461718476453081) 83%,
      rgba(149, 165, 166, 0.3142390745360645) 100%
    );
  }
  14% {
    background: rgb(149, 165, 166);
    background: linear-gradient(
      90deg,
      rgba(149, 165, 166, 0.7848273098301821) 0%,
      rgba(149, 165, 166, 1) 15%,
      rgba(149, 165, 166, 0.6755836123511905) 32%,
      rgba(149, 165, 166, 0.5187208672531513) 48%,
      rgba(149, 165, 166, 0.3114379540878851) 65%,
      rgba(149, 165, 166, 0.1461718476453081) 83%,
      rgba(149, 165, 166, 0.3142390745360645) 100%
    );
  }
  28% {
    background: rgb(149, 165, 166);
    background: linear-gradient(
      90deg,
      rgba(149, 165, 166, 0.7848273098301821) 0%,
      rgba(149, 165, 166, 0.6755836123511905) 15%,
      rgba(149, 165, 166, 1) 30%,
      rgba(149, 165, 166, 0.5187208672531513) 48%,
      rgba(149, 165, 166, 0.3114379540878851) 65%,
      rgba(149, 165, 166, 0.1461718476453081) 83%,
      rgba(149, 165, 166, 0.3142390745360645) 100%
    );
  }
  42% {
    background: rgb(149, 165, 166);
    background: linear-gradient(
      90deg,
      rgba(149, 165, 166, 0.7848273098301821) 0%,
      rgba(149, 165, 166, 0.6755836123511905) 15%,
      rgba(149, 165, 166, 0.5187208672531513) 29%,
      rgba(149, 165, 166, 1) 45%,
      rgba(149, 165, 166, 0.3114379540878851) 65%,
      rgba(149, 165, 166, 0.1461718476453081) 83%,
      rgba(149, 165, 166, 0.3142390745360645) 100%
    );
  }
  56% {
  }
  70% {
    background: rgb(149, 165, 166);
    background: linear-gradient(
      90deg,
      rgba(149, 165, 166, 0.7848273098301821) 0%,
      rgba(149, 165, 166, 0.6755836123511905) 15%,
      rgba(149, 165, 166, 0.5187208672531513) 29%,
      rgba(149, 165, 166, 0.3114379540878851) 45%,
      rgba(149, 165, 166, 1) 59%,
      rgba(149, 165, 166, 0.1461718476453081) 83%,
      rgba(149, 165, 166, 0.3142390745360645) 100%
    );
  }
  84 {
    background: rgb(149, 165, 166);
    background: linear-gradient(
      90deg,
      rgba(149, 165, 166, 0.7848273098301821) 0%,
      rgba(149, 165, 166, 0.6755836123511905) 15%,
      rgba(149, 165, 166, 0.5187208672531513) 29%,
      rgba(149, 165, 166, 0.3114379540878851) 47%,
      rgba(149, 165, 166, 0.1461718476453081) 63%,
      rgba(149, 165, 166, 1) 77%,
      rgba(149, 165, 166, 0.3142390745360645) 100%
    );
  }

  100% {
    background: rgb(149, 165, 166);
    background: linear-gradient(
      90deg,
      rgba(149, 165, 166, 0.7848273098301821) 0%,
      rgba(149, 165, 166, 0.6755836123511905) 15%,
      rgba(149, 165, 166, 0.5187208672531513) 29%,
      rgba(149, 165, 166, 0.3114379540878851) 47%,
      rgba(149, 165, 166, 0.1461718476453081) 63%,
      rgba(149, 165, 166, 0.3142390745360645) 77%,
      rgba(149, 165, 166, 1) 92%
    );
  }
}
